<div class="container w-50 mt-5 align-middle card">
  <div class="card-body">
{{#if msg}}
<div id="alertnote" onload="myfuntion()" class="alert alert-danger alert-dismissible">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    {{msg}}
  </div>
    <script>
    const timeout = setTimeout(()=>{
      const box=document.getElementById("alertnote");
      box.style.display='none';
    },3000);
    function myfuntion(){
      clearTimeout(timeout);
    }
  </script>
{{/if}} 
<h1>Forgot Password</h1>
<form method="post">
    <div class="mb-3">
    <label for="username" class="form-label">Username:</label>
    <input type="text" class="form-control" id="username" placeholder="Enter Username" name="username" required>
  </div>
    <div class="mb-3">
    <label for="sq" class="form-label">What is your father name(Security Question):</label>
    <input type="text" class="form-control" id="sq" placeholder="Enter Answer" name="sq" required>
  </div>
  <button type="submit" class="btn btn-primary">Continue</button>
  <div class="float-end">
  <a href="/">Login</a>
  </div>
</form>
</div>
</div>