<div class="container w-50 mt-5 align-middle card">
  <div class="card-body">
{{#if msg}}
<div id="alertnote" onload="myfuntion()" class="alert alert-success alert-dismissible">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    {{msg}}
  </div>
    <script>
    const timeout = setTimeout(()=>{
      const box=document.getElementById("alertnote");
      box.style.display='none';
    },3000);
    function myfuntion(){
      clearTimeout(timeout);
    }
  </script>
{{/if}}
{{#if msgs}}
<div id="alertnote" onload="myfuntion()" class="alert alert-danger alert-dismissible">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    {{msgs}}
  </div>
    <script>
    const timeout = setTimeout(()=>{
      const box=document.getElementById("alertnote");
      box.style.display='none';
    },3000);
    function myfuntion(){
      clearTimeout(timeout);
    }
  </script>
{{/if}}
{{#if user}}
<div class="mb-3">
  <label for="username" class="form-label">Username</label>
  <input type="text" class="form-control" id="username" value={{user}} placeholder="Enter Username" name="username" disabled>
</div>
{{/if}}
<h1>New Password</h1>
<form method="post">  
  <div class="mb-3">
    <label for="password" class="form-label">Password:</label>
    <input type="password" class="form-control" id="password" placeholder="Enter Password" name="password" required>
  </div>
  <div class="mb-3">
    <label for="cpassword" class="form-label">Confirm Password:</label>
    <input type="password" class="form-control" id="cpassword" placeholder="Enter Confirm Password" name="cpassword" required>
  </div>
  <button type="submit" class="btn btn-primary">Confirm</button>
  <div class="float-end">
  <a href="/">Login</a>
  <a href="/forgot_password" class="btn btn-primary  mx-3">back</a>
  </div>
</form>
</div>
</div>